html,body{
    height:100%;
width:100%;
padding:0;
margin:0;
}
.object{
    height:100%;
    width:100%;
    background-size:cover;
    background-attachment:fixed;
    
}
.one{
background-image:url(/ui/madi.png);
}
 .two{
     background-image:url(/ui/Girl-Typing-on-her-MacBook-Pro-Close-Up.jpeg);
 }
 .three{
     background-image:url(/ui/macbook-headphones-and-flower-picjumbo-com.jpg);
 }